@*@model webappmvc1.Models.Servicio*@

@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>ASP.NET</h1>
    <p class="lead">ASP.NET is a free web framework for building great Web sites and Web applications using HTML, CSS and JavaScript.</p>
    <p><a href="https://asp.net" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
</div>


<div>
     @*<table style="">
        <tr>
            <th>Nombre</th>
            <th>Dirección</th>
            <th>Telefono</th>
        </tr>
        @foreach (var cli in Model.lista_clientes)
        { 
            <tr>
                <td>@cli.nom_cliente</td>
                <td>@cli.dir_cliente</td>
                <td>@cli.telefono_cliente</td>
            </tr>
        }
    </table>*@      
</div>
